/* Estilos CSS para el header */
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333;
  color: #fff;
}

.logo img {
  height: 50px;
}

.titulo h1 {
  margin: 0;
  color: #fff;
  margin-right: 875px;
  font-size: xx-large;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li:not(:last-child) {
  margin-right: 2rem;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

header a.comprar {
  color: #008000;
}

/* Estilos CSS para el footer */
footer {
  background-color: #0d4a72;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilos CSS para los enlaces del footer */
footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  height: 25vh;
}


.image-container {
  position: relative;
  display: inline-block;
}

p {
  padding-left: 875px;
  padding-bottom: 625px;
  text-align: justify;
}

h5 {
  padding-left: 870px;
  text-align: justify;
}