/*Cartas para Descuento*/
.container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.border-custom-Estudiante {
  border: 2px solid #47749c !important;
  border-radius: 0 !important;
}

.border-custom-Trainee {
  border: 2px solid #5b8d98 !important;
  border-radius: 0 !important;
}

.border-custom-Junior {
  border: 2px solid #dbc079 !important;
  border-radius: 0 !important;
}

.card {
  margin: 10px;
}

.text-left {
  text-align: left;
}


/*Botón para dropdown/lengueta/seleccion multiple*/
.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.select-button::before {
  content: '\25BC';
  margin-right: 5px;
}

.select-button:focus,
.select-button:hover {
  outline: none;
}

.select-button:focus::before,
.select-button:hover::before {
  color: #000;
}

select {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.input-field {
  height: 40px;
}

.bto-calculo {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #cbe5fe;
}

button[type="button"] {
  display: block;
  margin: 1em auto;
  padding: 0.5em;
  border-radius: 4px;
  border: none;
  background-color: #96c93e;
  color: #fff;
  cursor: pointer;
  width: 100%;
}